<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Body style */
body {
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
=======
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> d50a87109460a22f143bd69cc6c310dd8d2dcb4a
